.App {
  text-align: center;
}
.Navbar{
    background-color :tomato;
    padding : 10px;
}
.Navbar h3 {
    font-size:30px;
    margin: 0;
}
Dashboard{
    background-color: tomato;
    width:50%;

}
choice-group{
    text-align: left;
}